<section class="chart chart--number">
  <div class="chart__inner">
    <header class="chart__title chart_title--number">
      <%= dataset[:title] %>
    </header>

    <div class="chart__data chart__data--number">
      <%= dataset[:data] %>
    </div>

    <%= render partial: 'charts/json', locals: { dataset: dataset } %>
  </div>
</section>
