<section class="chart chart--table">
  <div class="chart__inner">
    <header class="chart__title">
      <%= dataset[:title].upcase %>
    </header>

    <div class="chart__data">
      <canvas class="chart--table__canvas"></canvas>
      <script>
        window.jsonDataset = <%= dataset.to_json.html_safe %>;
      </script>
    </div>

    <%= render partial: 'charts/json', locals: { dataset: dataset } %>
  </div>
</section>
