<section class="chart chart--text">
  <header class="chart__title chart_title--text">
    <%= dataset[:title] %>
  </header>
  <div class="chart__data chart__data--text">
    <%= dataset[:data] %>
  </div>

  <%= render partial: 'charts/json', locals: { dataset: dataset } %>
</section>
