<div class="dashboard">
  <% @data.each do |dataset| %>
    <%= render partial: "charts/#{dataset[:type]}", locals: { dataset: dataset } %>
  <% end %>
</div>

<script>
  window.nextProvider = <%= @next_provider.to_json.html_safe %>
</script>
