.chart {
  text-align: center;
  font-family: 'geogrotesque', "Helvetica Neue", Arial, sans-serif;

  .wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  &--number {
    background: $red;
    color: $white;
  }

  &--text {
    background: $brown;
    color: $white;
  }

  &--table {
    background: $white;
  }

  &__title {
    padding: 0.5rem;
    font-size: 48px;
  }

  &__data {
    &--number {
      font-size: 128px;
    }
    &--bigtext {
      font-size: 128px;
    }
  }
}
