.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr 2fr;
  grid-auto-flow: dense;

  .chart {
    &--number {
      grid-column: span 1;
      grid-row: span 1;
    }
    &--text {
      grid-column: span 2;
      grid-row: span 1;
    }
    &--table {
      grid-column: span 3;
      grid-row: span 3;
    }
  }
}
